.landing-title {
  width: 100%;
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.88px;
  padding-bottom: 23px;
  border-bottom: 1px solid var(--section-border);
}

@media screen and (max-width: 550px) {
  .landing-title {
    font-size: 18px;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
  }
}
